<h1>Add a note</h1>
<div class="row">
   <div class="col-md-8">
     <%= form_for [@topic, @note] do |f| %>
       <div class="form-group">
         <%= f.label :title %>
         <%= f.text_field :title, class: 'form-control', placeholder: "Enter note title" %>
       </div>
       <div class="form-group">
         <%= f.label :note %>
         <%= f.text_area :body, rows: 2, class: 'form-control textarea autoExpand', placeholder: "Enter note" %>
       </div>
       <div class="form-group">
          <%= f.label "Quick Review" %>
          <%= f.check_box :review %>
       </div>
       <div class="form-group">
         <%= f.submit "Save", class: 'btn btn-success' %>
       </div>
     <% end %>
     <%= link_to "", :back, class: "back glyphicon glyphicon-arrow-left" %>
   </div>
 </div