<div class="row review-show">
  <div class="note-pills"
    <nav class="col-md-12 affix">
      <ul class="nav nav-pills">
        <% @notes.each do |note| %>
          <% if note.review == true %>
            <li><a href="#<%= note.title %>"><%= note.title %></a></li>
            
          <% end %>
        <% end %>
      </ul>
    </nav>
  </div>
  <div class="col-md-12 scrollit">
    <% @notes.each do |note| %>
      <% if note.review == true %> 
        <div class="review-notes">
          <h1 id="<%= note.title %>"><%= note.title %></h1>
          <p><%= note.body %></p>
        </div>  
      <% end %>
    <% end %>
  </div>
</div>

  
