<div class="subject-show">
  <h1><%= @subject.name %></h1>
  <%= link_to "", root_path, class: "btn btn-default glyphicon glyphicon-arrow-left" %>
  <%= link_to "", edit_subject_path, class: 'btn btn-success glyphicon glyphicon-edit' %>
  <%= link_to "", @subject, method: :delete, class: 'btn btn-danger glyphicon glyphicon-remove-sign', data: { confirm: 'Are you sure you want to delete this subject?' } %>
  <div class="row">
    <% @subject.topics.each do |topic| %>
      <%= link_to subject_topic_path(@subject, topic) do %>
        <div class="col-md-6 topics">
          <h2><%= topic.title %></h2>
        </div>
      <% end %>
    <% end %>
  </div>
  <h3>Add Topics<%= link_to "", new_subject_topic_path(@subject), class: 'btn btn-default btn-lg glyphicon glyphicon-plus' %></h3>
</div>