<div class="jumbotron">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag("koios-logo.png", class: "img-responsive") %>
    </div>
    <div class="col-md-8">
      <h1>Koios Note</h1>
      <h2>A note taking application for the intellectual titan.</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2>Log in</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
         <div class="form-group">
           <div class="field">
             <%= f.label :email %><br />
             <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
          </div>
        </div    
        <div class="form-group">
          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
          </div>
        
        <% if devise_mapping.rememberable? -%>
           <div class="field">
             <%= f.check_box :remember_me %>
             <%= f.label :remember_me %>
           </div>
        <% end -%>
        <div class="actions">
          <%= f.submit "Log in", class: "btn btn-default" %>
        </div>
      <% end %>
    </div>
    <div class="col-md-6">
      <h2>Sign up</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
        <div class="form-group">
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
           </div>
        </div>
        <div class="form-group">
          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
          </div>
        </div>
        <div class="form-group">
          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>
          </div>
        </div>
        <div class="actions">
          <%= f.submit "Sign up", class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
    <div class="col-md-12">
      <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
      <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %>
    </div>
  </div>
</div>